 {% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
<div class="bg-gray-800 text-white p-4 shadow"> 
    <h1 class="text-2xl font-bold text-center my-4  dark:text-white ">Lista Clubes de Primera Categoría</h1>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 my-6">
    {% for club in clubs %}
        <div class="bg-white rounded-lg shadow-md p-6 dark:bg-gray-800 dark:border-gray-700">
            <h2 class="text-lg font-semibold text-gray-800 dark:text-white">{{ club.name }}</h2>
            <p class="text-sm text-gray-600 dark:text-gray-400">Ubicado en: <span class="font-medium">{{ club.island }}</span></p>
            
            <div class="mt-4 flex justify-between ">
                <a href="{{ path('app_club_show', {'id': club.id}) }}" 
                   class="text-sm font-medium text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-600">
                    Ver detalles
                </a>
                
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}" 
                       class="text-sm font-medium text-yellow-500 hover:text-yellow-700 dark:text-yellow-400 dark:hover:text-yellow-600">
                        Editar
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="col-span-full text-center text-gray-500 dark:text-gray-400">
            <p>No se encontraron registros.</p>
        </div>
    {% endfor %}
</div>

<div class="mt-6 flex justify-center">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_club_new') }}" 
           class="ml-4 bg-yellow-400 text-gray-800 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Crear Nuevo Club
        </a>
    {% endif %}
    <a href="{{ path('dashboard_admin') }}" 
           class="ml-4 bg-yellow-400 text-gray-800 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
        Volver al Dashboard
    </a>
</div>
{% endblock %}
