{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}

<div class="bg-gray-800 text-white p-4 shadow relative">
    <h1 class="text-2xl font-bold text-center my-4 dark:text-white">Editar Luchada</h1>
    <a href="{{ is_granted('ROLE_ADMIN') ? path('dashboard_admin') : path('dashboard_user') }}" 
       class="absolute top-6 right-4 bg-blue-500 text-white hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-900">
       Volver al Dashboard
    </a>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 my-6">
        <div class="bg-white rounded-lg shadow-md p-6 dark:bg-gray-800 dark:border-gray-700">
            <h2 class="text-lg font-semibold text-gray-800 dark:text-white">Equipo: {{ team.name }}</h2>
            <p class="text-sm text-gray-600 dark:text-gray-400">ID: <span class="font-medium">{{ team.id }}</span></p>
            <p class="text-sm text-gray-600 dark:text-gray-400">División: <span class="font-medium">{{ team.division }}</span></p>

            <div class="mt-4 flex flex-col space-y-2">
                <a href="{{ path('app_team_edit', {'id': team.id}) }}" 
                class="w-full bg-yellow-500 text-white hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">
                    Editar
                </a>
         
                {{ include('team/_delete_form.html.twig') }}
            </div>
        </div>
</div>
{% endblock %}
 